@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Titillium+Web&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #127369;
    --body-color: #4C5958;
    --heading-color: #10403B;
    --contrast-color: #BF9E15;
}

body {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Titillium Web', sans-serif;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    color: var(--body-color);
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'DM Serif Display', serif;
    color: var(--heading-color);
}

a {
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
}

body#about img { height: 15em; }

p, li {
    font-size: 18px;
}

body {
    display: grid;
    grid-template-areas: "head  head  nav"
                         "main  main  main"
                         "foot  foot  foot";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto 1fr auto;
}

/* @media screen and (min-width: 24em) {
    body {
        grid-template-areas: "head  nav"
                             "main  main"
                             "foot  foot";
        grid-template-rows: auto 1fr auto;
    }
} */

body > * {
    padding: 0 var(--horizontal-space);
}

body > header {
    grid-area: head;
    border-bottom: 2px solid var(--heading-color);
}

body > nav {
    grid-area: nav;
    padding-top: var(--vertical-space);
    border-bottom: 2px solid var(--heading-color);
}

body > nav ul {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

body > nav ul > li {
    display: table-cell;
    padding: 5px;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerImage {
    max-width: 100%;
    flex-basis: 40%;
}

.containerText {
    padding-left: 20px;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    float: left;
    width: 50%;
}

.resume {
    border: 2px solid black;
    margin: 5em 10em;
}

@media only screen and (max-width: 765px){
    .responsive {
        margin: 6px 0;
        width: 100%;
    }
    
    div.gallery img {
        width: 100%;
        height: 25em;
    }

    .resume {
        border: 2px solid black;
        margin: 2em 2em;
    }
}
